.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 200px;
}

.wrapper {
  position: absolute;
  display: flex;
  gap: 20px;
}

.inner section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

.inner img {
  height: 100%;
  object-fit: contain;
  width: 140px;
  margin-right: 20px;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
