.main {
  padding-inline: 66px;
  margin-top: 116px;
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  width: 100%;
  height: 500px;
  background-color: #f8eaea;
  border-radius: 20px;
  padding-inline-start: 120px;
}

.imageWrapper h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
}
.imageWrapper p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.15px;
  text-align: left;
  max-width: 380px;
}

.wrapper {
  position: relative;
}

.recetasWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  background-color: #d91e3e;
  padding: 20px 40px;
  border-radius: 40px;
  max-width: 740px;
  width: 100%;
  height: fit-content;
  margin-inline: auto;
  top: 0px;
  margin-top: 320px;
}

.menu p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.15px;
  text-align: center;
  color: #ffdcdc;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

.menu p:hover {
  opacity: 80%;
}

.blogFeaturedWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 60px;
}

.blogFeaturedWrapper .blogCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 520px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.blogCard img {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  border-radius: 20px;
  z-index: -1;
  filter: brightness(0.7);
  object-fit: cover;
}

.headerWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: white;
}
.headerWrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  color: white;
}

.headerWrapper img {
  position: relative;
  z-index: 1;
  width: 54px;
  height: 30px;
  object-fit: contain;
  filter: none;
}

.blogCard h5 {
  font-size: 30px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  color: white;
  max-width: 300px;
  margin-bottom: 16px;
}
.blogCard .text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  max-width: 300px;
  color: white;
  margin-bottom: 28px;
}

.blogCard .text {
  height: fit-content;
  position: relative;
  height: 38px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.blogCard:hover .text {
  height: 260px;
}

.blogCard .text a {
  font-size: 14px;
  color: white;
  background-color: #ff9494;
  text-decoration: none;
  padding: 12px 48px;
  border-radius: 20px;
  position: relative;
  display: flex;
  width: fit-content;
}
.menuMobile {
  display: none;
}
.floatingMobileMenu {
  display: none;
}
@media screen and (max-width: 1622px) {
  .imageWrapper {
    padding-left: 60px;
  }
}
@media screen and (max-width: 1450px) {
  .blogFeaturedWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1358px) {
  .imageWrapper {
    padding-left: 30px;
  }
}
@media screen and (max-width: 1236px) {
  .imageWrapper {
    padding-left: 16px;
  }
}
@media screen and (max-width: 960px) {
  .imageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  .menu {
    margin-top: 460px;
  }
  .blogFeaturedWrapper {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1110px) {
  .main {
    padding-inline: 16px;
  }
  .blogFeaturedWrapper {
    gap: 16px;
  }
}

@media screen and (max-width: 900px) {
  .blogFeaturedWrapper {
    gap: 16px;
    grid-template-columns: 1fr 1fr;
  }
  .menu {
    top: -200px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 810px) {
  .menu {
    top: -200px;
    border-radius: 20px;
    width: 90%;
  }
}

@media screen and (max-width: 535px) {
  .blogFeaturedWrapper {
    gap: 16px;
    grid-template-columns: 1fr;
  }
  .menuMobile {
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    width: 90%;
    gap: 16px;
    transition: all 0.3s ease-in-out;
    margin-top: 460px;
  }
  .floatingMobileMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: flex-start;
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    gap: 16px;
    background-color: #d91e3e;
    z-index: 2;
    overflow: hidden;
    transition: all 0.3s;
    color: white;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }

  .menuMobile p {
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 16.8px;
    text-align: center;
    padding: 12px 24px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #d91e3e;
    padding: 8px 20px;
    border-radius: 20px;
  }
  .menu {
    display: none;
  }
  .menu {
    width: 100%;
  }
}
