* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

#recipes-swiper .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  left: 0px;
  bottom: 0px !important;
  width: fit-content !important;
}

#whereFindUsSwiper .swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: linear;
}
