.mainWrapper {
  margin-top: 114px;
  border-radius: 20px;
}

.swiperWrapper {
  position: relative;
  height: 875px;
  width: 100%;
  padding-inline: 66px;
  background-color: ghostwhite;
  border-radius: 20px;
}

.floatingWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.floatingImage {
  position: absolute;
  bottom: -76px;
  right: -4px;
  z-index: 2;
}

@media screen and (max-width: 1110px) {
  .swiperWrapper {
    padding-inline: 16px;
  }
}

@media screen and (max-width: 580px) {
  .swiperWrapper {
    height: 700px;
  }
}
